.container{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 150px;
    cursor: grabbing;
}

.box{
    background-color: brown;
    color: white;
    font-size: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}